Faker==22.0.0
pandas==2.1.4
psycopg2-binary==2.9.9
sqlalchemy==2.0.25
numpy==1.26.3
fastapi==0.109.0
uvicorn==0.27.0
requests==2.31.0
kafka-python==2.0.2
minio==7.2.3
scikit-learn==1.4.0
mlflow==2.10.0
jupyter==1.0.0
notebook==7.0.6
great-expectations==0.18.8
duckdb==0.10.0
python-dotenv==1.0.0